**Imports and workspace setting**

In [4]:
import csv
import math
import os

import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stat

import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
%matplotlib inline

**Loading crime-data and preview**

In [7]:
crime_data = pd.read_csv('../data/Crime_data_2012.csv')
crime_data = crime_data.T
crime_data.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
Crime Category,Abduction / Kidnapping,Arson,Mischief over Rs.5000/=,H.B. & Theft,Grevious Hurt,Hurt by Knife etc.,Homicide/Abet. To commit suicide,Attempted Homicide,Rape / Incest,Riot,...,Extortion,Cheating/Misappropriation C.B. Trust over Rs.1...,Theft of Property including praedial produce o...,Counterfeiting Currency,Offences against State,Cruelty to Children & sexual exploitation of ...,Procuration / Trafficking,Offences under the Offensive weapons Act.,Possession of Automatic or Repeater Shot Guns,"Offences under the Poisons, Opium & Dangerous..."
Anuradhapura,68,47,107,834,108,72,24,15,199,4,...,9,270,584,6,0,23,2,4,1,7
Ampara,29,31,36,239,69,38,16,12,37,1,...,2,232,242,1,0,1,2,1,0,1
Badulla (Badfulla & Bandarawela ),38,14,42,359,112,85,28,11,73,3,...,1,138,296,1,0,2,0,3,0,20
Batticaloa,21,33,38,227,56,89,11,2,52,0,...,4,225,221,1,0,6,3,1,1,3

**Loading Employment by Industrical sector**

In [8]:
emplyment_data = pd.read_csv('../data/Employees by industrial sector (% to total employment).csv')
emplyment_data.head()

,Province,District,Male emp. Agriculture,Male emp. Industry,Male emp. Services,Total,Female emp. Agriculture,Female emp. Industry,Female emp. Services,Female emp. Total,Total emp. Agriculture,Total emp. Industry,Total emp. Services,Total employment
0,Western,Colombo,1.1,20.6,42.9,64.7,1.3,20.0,50.5,71.7,1.2,20.4,45.4,67.0
1,Western,Gampaha,3.3,31.4,33.7,68.5,1.0,34.5,35.7,71.2,2.6,32.4,34.3,69.4
2,Western,Kalutara,5.3,23.8,35.6,64.7,11.0,19.4,35.2,65.6,7.0,22.5,35.5,65.0
3,Central,Kandy,7.6,20.1,35.2,62.9,16.2,20.9,32.9,70.1,10.5,20.4,34.4,65.4
4,Central,Matale,5.5,14.2,27.9,47.6,6.1,10.0,18.5,34.6,5.7,12.8,24.6,43.1

In [9]:
print('Data set size = ', emplyment_data.shape)
print('Dimension = ', emplyment_data.ndim)

Data set size =  (25, 14)
Dimension =  2

**Loading Accomadation for tourist data**

In [12]:
hotels_data = pd.read_csv('../data/Information for Accommodation.csv')
hotels_data.head()

,Type,Name,Address,Rooms,Grade,District,AGA Division,PS/MC/UC,Logitiute,Latitude
0,Boutique Hotels,THE THEVA RESIDENCY,"11/B5/10-1 06TH LANE, HANTANA,KANDY",10,NaN,Kandy,Kandy Divisional Secretariat,Kandy,80.635411,7.276036
1,Boutique Hotels,HIGHLAND VILLA,"351, ABIMANGAMA ROAD, KUMBALGAMA, WELIGAMA",10,NaN,Matara,Weligama Divisional Secretariat,Weligama Pradeshiya Sabha,80.409972,5.960334
2,Boutique Hotels,ULAGALLA WALAWWA RESORT,"THIRAPPANE, ANURADHAPURA",21,NaN,Anuradhapura,Anuradhapura East,Anuradhapura,80.545063,8.205927
3,Boutique Hotels,GALLE FORT HOTEL,"NO.28, CHURCH STREET, FORT , GALLE",14,NaN,Galle,Galle Divisional Secretariat,Galle,80.217563,6.026649
4,Boutique Hotels,THE ELEPHANT CORRIDOR,"POTHANA,KIBISSA, SIGIRIYA",21,NaN,Matale,NaN,Matale,80.710743,7.943525

In [13]:
print('Data set size = ', hotels_data.shape)
print('Dimension = ', hotels_data.ndim)

Data set size =  (2130, 10)
Dimension =  2

**Drill Down accomadation data by district**

In [18]:
## This array will become 26*10 afterwards

**Merge all 4 datasets in to one pandas frame**

**Correlation analysis**

**Stating independent/ dependent variables**

**Divide training and testing data-set**

In [15]:
## 20 districts for training
## 6 for training
## Or some other experimenting methods would be okay.

**Model training - possibly regression/ classification**

In [17]:
## If it is classification we need to pick a label column.

**Testing the model**